<%- include('partials/header') -%>
<%- include('partials/navbar', {active: "Kids"}) -%>

<div class="container">
  <!-- Filter -->
  <%- include('partials/filter') -%>
  <!-- Kid cards -->
  <div class="row">
    <div class="col-12">
      <% if (typeof appError !== 'undefined') { %>
        <div class="alert alert-danger"><%= appError %></div>
      <% } %>
    </div>

    <% kids.forEach(kid => { %>
      <div class="col-6 col-md-4 col-lg-3 mt-2">
        <div class="card">
          <img class="card-img-top" src="
          <% if (typeof kid.profile === 'undefined') { %>
            http://ssl.gstatic.com/accounts/ui/avatar_2x.png
          <% } else { %>
            http://localhost:3000/images/<%= kid.profile %>
          <% } %>">
          <div class="card-body">
            <h5 class="card-title"><%= kid.name %> </h5>
            <p class="card-text">Universe: <%= kid.universe %> </p>
            <p class="card-text">Status: <%= kid.status %> </p>
            <a href="/kids/details/<%= kid._id %>" class="btn btn-primary">View</a>
            <a href="/applications/new/<%= kid._id %>" class="btn btn-danger">Apply</a>
          </div>
        </div>
      </div>
    <% }) %>
    
  </div>
</div>

<%- include('partials/footer') -%>