<%- include('partials/header') -%>
<%- include('partials/adminnavbar', {active: "Users"}) -%>

<div class="container">
  <div class="row">
    <div class="col-12">
        <h2>Users</h2>
    </div>
  </div>
  <!-- User cards -->
  <div class="row">
    
    <% users.forEach(user => { %>
      <div class="col-6 col-md-4 col-lg-3 mt-2">
        <div class="card">
          <img class="card-img-top" src="
          <% if (typeof user.profile === 'undefined') { %>
            http://ssl.gstatic.com/accounts/ui/avatar_2x.png
          <% } else { %>
            http://localhost:3000/images/<%= user.profile %>
          <% } %>">
          <div class="card-body">
            <h5 class="card-title"><%= user.name %></h5>
            <p class="card-text">ID: <%= user._id %></p>
            <p class="card-text">Universe: <%= user.universe %> </p>
            <a href="/users/<%= user._id %>" class="btn btn-primary">View</a>
            <a href="/users/<%= user._id %>/del" class="btn btn-danger">Delete</a>
          </div>
        </div>
      </div>
    <% }) %>
    
  </div>
</div>

<%- include('partials/footer') -%>